.notification-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.2);
    z-index: 200;
}

.notification {
    position: absolute;
    top: 100px;
    z-index: 300;
    left: 0;
    right: 0;
    border-radius: 10px;
    width: 66%;
    margin: 0 auto;
    background: white;
    padding: 30px;
}

.notification .field--name-label {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

.notification .close {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 30px;
    cursor: pointer;
}