{#
/**
 * @file
 * Default theme implementation to present a notification entity.
 *
 * This template is used when viewing a canonical notification page,
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.label'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_notification()
 */
#}

{%
  set classes = [
    'notification',
    view_mode ? 'notification--view-mode-' ~ view_mode|clean_class,
  ]
%}

<div{{ attributes.addClass(classes) }}>
  <div class="close">&times;</div>
  {% if view_mode != 'full' %}
    {{ title_prefix }}
    {{ title_suffix }}
  {% endif %}
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
